
// Font

$menu-font-family : 'Raleway';
$header-main-title-family : 'Avenir Next';
$menu-write-size : 18px;
$header-main-title : 72px;
$articles-title-size: 34px;
$articles-description-size: 22px;
$projects-title-size: 46px;
$accordion-title-size : 36px;
$accordion-description-size : 28px;


// Colors

$white: #ffffff;
$black: #000000;
$pink-write-color : #eecbd0;
$background-color-opacity : rgba(88,47,110,0.6);
$background-color: #582f6e;
$background-color-accordion: rgba(103,37,108,0.4);
$subscribe-button-color: #e52a49;
$header-main-title-color: #ffffff;
$articles-title-color: #401843;
$articles-description-color: #9e929a;
$read-more-pink: #c28bb1;
$find-more-color: #c725a7;
$subscribe-bg-color: #e52a49;
$projects-title-color: #e9c4cb;
$accordion-title-color : #eac5cb;
$follow-bg-color: #6eb924;
$footer-bg-color: #67256c;
$footer-text-color: #e7c4cc;
$contact-bg-color: #e52a49;


